<% provide(:title, 'О сайте') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>О сайте</h1>
    <p>
      Это реализация тестового задания
    </p>
    <p>
      Использован Rails 5
    </p>
  </body>
</html>
