<% provide(:title, "Редактирование пользователя") %>
<% provide(:button_text, 'Сохранить изменения') %>
<h1>Редактировать профиль</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'comment' %>
    </div>
    <div class="col-lg-3">
      <%= render 'changepassword' %>
    </div>
  </div>
</div>
